button , a {
  cursor: pointer;
}
html, body{
  height: 100%;
  overflow: hidden !important;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}